/*
  style.css
  Nima Shariat
  Owen Thomas
  Aren Williams
  ART 101 - S16
  Final
*/
#dropDown1{
border: 1px dotted black;
}
#dropDown2{
border: 1px dotted black;
}
#dropDown3{
border: 1px dotted black;
}
#dropDown4{
border: 1px dotted black;
}

.reveal1{
  position:fixed;
  bottom: 0;
  right: 45px;
}

.reveal2{
  position: fixed;
  bottom:0;
  right: 10px;
}

canvas {
  border: 1px solid black;
}
